<div class="card">
  <div class="header">

    <h4 class="title"><span class="now-ui-icons files_single-copy-04"></span> Statistiques</h4>
    <p class="category">Gestion de votre statistiques</p>
  </div>
  <div class="content">
    <div [attr.id]="'ct-perfect-fourth'" class="ct-chart ct-perfect-fourth"></div>

    <div class="footer">
      <div class="legend">
        mmmmmmmmmmm
      </div>
      <hr *ngIf="true">
      <div class="stats">
        <i [ngClass]="'fa fa-clock-o'"></i> Co-Encadrant</div>
    </div>
  </div>
</div>
